.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenPrincipal{
    padding: 30px;
}

.items{
    padding: 20px;
    
}

.iconos{
    font-size: 80px;
}

a{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    
}