<ion-header>
  <ion-toolbar color=success>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    
    <ion-card-header >
      <ion-card-title>Login</ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
        <ion-img src="/assets/inicio.png" class="imagenPrincipal"></ion-img>
        <form [formGroup]="formularioLogin">

          <ion-item>
            <ion-label position="floating" style="color: rgb(65, 153, 71);">Correo: </ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="color: rgb(65, 153, 71);">Password: </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)="Ingresar()" expand="block" fill="outline" shape="round" style="color: rgb(65, 153, 71);" color="success">
          Ingresar
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-button [routerLink] = "['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
