<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text=""
          color="success"
          mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-title >AYUDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="Success"></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>CLEAN ENERGY HELP</ion-card-title>
    </ion-card-header>
    <ion-button size="small" color="success" expand="full">desinstalacion de aplicacion</ion-button>
    <ion-button size="small" color="success" expand="full">gestionar acceso a la cuenta</ion-button>
    <ion-button size="small" color="success" expand="full">problemas para iniciar sesion</ion-button>
    <ion-button size="small" color="success" expand="full">desinstalacion de aplicacion</ion-button>
    <ion-button size="small" color="success" expand="full">cerrar sesion en clean energy</ion-button>
    <ion-button size="small" color="success" expand="full">compartir una plublicacion con amigos</ion-button>
    <ion-button size="small" color="success" expand="full">gestionar articulos </ion-button>
    <ion-button size="small" color="success" expand="full">uso sin conexion</ion-button>
    <ion-button size="small" color="success" expand="full">compartir paginas con codigo QR</ion-button>
    <ion-button size="small" color="success" expand="full">eliminar historial</ion-button>
  </ion-card>

</ion-content>
