<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text=""
          color="success"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Informacion de la aplciacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size: 18px; font-family: monospace;">Clean energy</ion-card-title>
    </ion-card-header>

    
    <ion-card-content class="ion-padding contenidoEnergias" style="font-size: 20px;">
      Clean energy es una aplicacion la cual esta enfocada en compartir todo tipo de cosas sobre
      el mundo de la enegia limpia, publicaciones, inventos, noticias, comentarios, entre otras cosas.
      Gracias a Clean energy podras comentar y compartir ideas que tengan como vision, mejorar el medio ambiente.
      
      






      <a href="/">Clean energy</a>

    </ion-card-content>
    
      
    

  </ion-card>
</ion-content>
